body {
  background-color: #1E1E1E;
  color: #FAFAFA;
  font-family: 'Inconsolata', monospace;
  padding-bottom: 50px;
}

.content {
  text-align: center;
}

.heading-page {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
}

.player {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  width: 90%;
  background-color: #FAFAFA;
}

.player-image, .player-controls {
  align-self: flex-end;
  width: 100%;
}

.player-controls {
  margin: 5px 0;
}

.description {
  margin: 0 auto;
  width: 90%;
  text-align: left;
  background-color: #FAFAFA;
  color: #1E1E1E;
}

.heading-section {
  padding: 20px 0 0 20px;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
}

.heading-small {
  padding-top: 10px;
}

.description p {
  padding: 0 20px 0 20px;
  font-size: 14px;
  text-align: justify;
}

.references {
  padding: 0 0 10px 0;
  font-size: 14px;
  list-style: none;
}

.references li {
  padding: 0 20px 15px 20px;
}


@media (min-width: 480px) {
  .player {
    width: 90%;
  }

  .player-image {
    width: 30%;
  }

  .player-controls {
    width: calc(70% - 20px);
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .player, .description {
    width: 70%;
    max-width: 750px;
  }
}
